*{
    margin: 0;
    padding: 0;
}
.background__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(201, 163, 236);
    opacity: .5;
    width: 100%;
    padding: 10px 0px;
}
.form__container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 10px;
}
.toDo__container{
    background-color: rgb(180, 233, 235);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
button{
    border: none;
    [padding: 5px;
    margin: 3px;
}